.held-item {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  pointer-events: none;
  transform: translate(-10000px, -10000px);

  .item-icon {
    transform: translate(-50%, -50%) scale(1.4);
    opacity: 0.85;
  }
}
