.mu-window-slot.options .mu-window {
  .options-list {
    left: 15px;
    top: 50px;
    width: 160px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .option-slider {
    display: flex;
    flex-direction: column;
    gap: 2px;
    color: #f0e0b0;

    input {
      width: 130px;
      height: 10px;
      accent-color: #c89640;
    }

    .value {
      position: absolute;
      right: 0;
      margin-top: 12px;
      color: #c8c8c8;
    }
  }

  .keys {
    margin-top: 10px;
    color: #999;
    font-size: 7px;
    line-height: 11px;
  }
}
